*,*::before,*::after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.form-container{
    width: 350px!important;
    height: 550px!important;
    overflow: hidden;
    margin:40px auto!important;
    padding: 20px!important;
     border-radius: 10px; 
     box-shadow: 0 11px 6px 0 rgba(0,0,0,.16);
}
.input-form input{
    width: 100%;
}
.form-card{
    height: 100%!important;
    width: 100%!important;
    margin-top: 0!important;
    box-shadow: none!important;
}
.form-input-container{
    width: 100%!important;
    padding: 5px!important;
    height: 90vh!important;
  
}
.form-button-submit{
    width: 70%!important;
    height: 45px!important;
}
.form-button-submit button{
    height: 45px!important;
}
.form-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 250px;
    margin:0!important;
}
.form-account::before{
    border-top: 1px solid #707070;
    content: "";
    left: 0;
    opacity: .28;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
.form-account{
    margin: 5px;
    font-weight: normal;
    font-size:.8em;
    background: #fff;
    line-height: 5em;
    padding: 0 5px;
}
.form-divider{
    position: relative;
    z-index: 1;
}

.form-account-container{
    position: relative;
    width: 250px;
    text-align: center;
    overflow: hidden;
    margin: 0;
}
.form-remenber{
    top: 5px!important;
    margin: 0!important;
}
.form-remenber svg{
    width: 20px!important;
    height: 20px!important;
}
.form-remenber div{
    margin-right: 5px!important;
}
.input-form{
    font-size: .9em!important;
    width: 100%!important;
}
.input-text-container{
    margin: 0!important;
    margin-top: 25px!important;
    width: 100%!important;
    overflow: hidden;
}
.form-header ,.form-header div, .form-header span{
    background: #fff!important;
    color: black!important;
    text-align: center;
    padding-right: 0!important;
}
.form-header h3{
    margin-top: 30px!important;
    font-weight: 550!important;
}
@media (max-width: 600px){
.form-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0!important;
    border-radius: 0!important; 
    box-shadow: none!important;
}
.input-form input{
    width: 100%;
}
.form-card{
    height: 100%!important;
    width: 100%!important;
    margin-top: 0!important;
    box-shadow: none!important;
}
.form-input-container{
    width: 100%!important;
    padding: 5px!important;
    height: 90vh!important;
  
}
.form-button-submit{
    width: 70%!important;
    height: 45px!important;
}
.form-button-submit button{
    height: 45px!important;
}
.form-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 60%;
    margin:0!important;
}
.form-account::before{
    border-top: 1px solid #707070;
    content: "";
    left: 0;
    opacity: .28;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
.form-account{
    margin: 5px;
    font-weight: normal;
    font-size:.8em;
    background: #fff;
    line-height: 5em;
    padding: 0 5px;
}
.form-divider{
    position: relative;
    z-index: 1;
}

.form-account-container{
    position: relative;
    width: 250px;
    text-align: center;
    overflow: hidden;
    margin: 0;
}
.form-remenber{
    top: 5px!important;
    margin: 0!important;
}
.form-remenber svg{
    width: 20px!important;
    height: 20px!important;
}
.form-remenber div{
    margin-right: 5px!important;
}
.input-form{
    font-size: .9em!important;
    width: 100%!important;
}
.input-text-container{
    margin: 0!important;
    margin-top: 25px!important;
    width: 100%!important;
    overflow: hidden;
}
.form-header ,.form-header div, .form-header span{
    background: #fff!important;
    color: black!important;
    text-align: center;
    padding-right: 0!important;
}
.form-header h3{
    margin-top: 30px!important;
    font-weight: 550!important;
}


}

@media (min-width: 400px) and (max-width:600px){
    .form-input-container{
        padding: 30px!important;
    }
}